# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# assets get scp'd over to the server on deploy; no need to put them in git. excluding decreases git bundle size, deploy time
*.jpg
public/photo_gallery/metadata.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
