_auth = ZGFuaWVsLnNjaGVwZXJzOkFLQ3A1ZlVzVGhMTGlaSDJKTm9NakpMVHU4Z3IyUkNQazFScXVzZ1lwUWV6bUFBaUNvYnJTZnBZb2k1eXR6QTZud25TTlp2ZGY=
email = daniel.schepers@rallyhealth.com
always-auth = true
registry = https://artifacts.werally.in:443/artifactory/api/npm/npm/
