.Accommodations {
  text-align: center;
  font-size: 1.5em;
  line-height: 2;

  .Accommodation__title {
    font-size: 30px;
    text-align: center;
  }

  .Accommodation__image {
    width: 100%;
  }

  .Accommodation__sectionDivider { // TODO: this is the same as WeddingParty__sectionDivider. DRY up
    background-position: center;
    background-image: url(https://static.xoedge.com/xo-guest-services/assets/guest/themes/at_last-dark_gray/item_separator-b38e6d2344a94a96a7e0727b76a6b9c7.png);
    height: 40px;
    background-repeat: no-repeat;
    padding-top: 50px;
  }

  .Accommodation__item {
    &:first-of-type {
      padding-top: 25px;
    }
  }

  .Accommodation__subtitle {
    font-style: italic;
    margin-top: -10px;
  }
}
