@import "shared/styles/colors.module.scss";

body {
  font-family: Georgia, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: $primary_color;
  line-height: 1.8;
  background-image: url(https://static.xoedge.com/xo-guest-services/assets/guest/themes/willowmarsh-tea_rose/background_image-6c610ca0d37035c8c69b68e387c32f64.gif);
  background-repeat: repeat;
}

.App {
  background-image: url(https://static.xoedge.com/xo-guest-services/assets/guest/themes/willowmarsh-tea_rose/background_image-6c610ca0d37035c8c69b68e387c32f64.gif);
  background-repeat: repeat;
}

a:focus-visible {
  text-decoration: underline !important;
  outline: none;
}
