body {
  font-family: Georgia;
  background-color: #4c4636;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #FFFDEB;
  line-height: 1.8;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
