.SectionTitle {
  .SectionTitle__decoration {
    background-position: center;
    background-image: url('https://static.xoedge.com/xo-guest-services/assets/guest/themes/at_last-dark_gray/section_title_border_image-3f737ee7d924769cdc51db1c67a304da.png');
    height: 40px;
    background-repeat: no-repeat;
  }

  .SectionTitle__title {
    font-size: 40px;
    text-align: center;
  }
}
