// Hide real checkboxes
@import "../styles/colors.module.scss";

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
  cursor: pointer;
  height: 20px;
  border: 1px #BFB8A6 solid;
  padding: 3px;
  border-radius: 4px;
  text-align: left;
  min-width: 339px;

  span {
    position: relative;
    bottom: 6px;
  }

  &:hover,
  label:hover {
    cursor: pointer;
  }

  &:hover {
    background-color: #EEE5C5;
  }

  background-color: #F3EFD7;
}

.checkbox__active {
  background: #E5CB82;
  color: white;

  &:hover {
    background-color: #D9BB6D;
  }
}

.check {
  width: 17px;
  height: 17px;
  border-radius: 10px;
  border-width: 2px;
  border: 2px #F7F7F7 solid;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.check__unchecked {
  border-color: $primary_color;
}
