.InviteeResponse__guest_name {
  font-size: 1.3em;
  text-transform: uppercase;
  padding-top: 10px;
}

.InviteeResponse__row {
  padding-top: 10px;
}

.action {
  font-size: 1.3em;
}

.buttonRow button {
  margin: 5px;
}
