.dayOfDetails {
}
.destination__heading {
  width: 100%;
  font-size: 1.3em;
}

.section__detail {
  width: 100%;
  font-size: 18px;
}

.section_detail_area{
  padding-top: 20px;
}

.action__detail{
  font-size: 15px;
  width:100%;
  display: block;
}

.action__icon {
  height: 20vh;
}
