.WeddingParty {
  text-align: center;
  padding-top: 45px;

  .WeddingParty__container {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .WeddingParty__detail {
    font-size: 1.5em;
    line-height: 2;
  }

  .WeddingParty__sectionDivider {
    background-position: center;
    background-image: url(https://static.xoedge.com/xo-guest-services/assets/guest/themes/luscious_lacing-umber/item_separator-12b6a4546884b18d20d9cc62d4f1bae1.png);
    height: 40px;
    background-repeat: no-repeat;
    padding: 20px 0;
    background-size: contain;
    width: 90px;
    margin-left: 30%;
  }

  .WeddingParty__itemTitle {
    font-size: 30px;
  }

  .WeddingParty__venue,
  .WeddingParty__address {
    font-size: 1.5em; // TODO; the font-weight across the site isn't quite right
    line-height: 2;
  }

  .WeddingParty__eventDescription {
    text-align: left;
    max-width: 820px;
    font-size: 1.4em;
    margin: 0 auto;
  }
}
