.sectionDivider {
  background-position: center;
  background-image: url(https://static.xoedge.com/xo-guest-services/assets/guest/themes/luscious_lacing-umber/item_separator-12b6a4546884b18d20d9cc62d4f1bae1.png);
  height: 40px;
  background-repeat: no-repeat;
  padding: 20px 0;
  background-size: contain;
  width: 90px;
}
