.Matte {
  background: white;
  padding-bottom: 25px;
}

.Intro {
  padding: 25px;
  text-align: center;
  font-size: 1.4em;
}

.divider {
  color: #F7F7F7;
}

img {
  max-width: 100%;
}

.cnb {
  padding-top: 80px;

  @media only screen and (max-width: 768px) {
    padding-top: 0;
  }
}
