.Lookup {
  .Lookup_prompt {
    font-size: 1.3em;
  }

  .Lookup_search_input {
    font-size: 13px;
    height: 30px;
    width: 309px;
    padding-left: 10px;
    display: block;
    margin-bottom: 10px;
  }
}
