.WeddingDetails {
  text-align: center;
  padding-top: 45px;

  .WeddingDetails__detail {
    font-size: 1.5em;
    line-height: 2;

    &:nth-child(2) {
      padding-top: 15px;
    }
  }

  .WeddingDetails__rsvpContainer {
    padding-top: 10px;
  }

  .WeddingDetails__sectionDivider {
    background-position: center;
    background-image: url(https://static.xoedge.com/xo-guest-services/assets/guest/themes/luscious_lacing-umber/item_separator-12b6a4546884b18d20d9cc62d4f1bae1.png);
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    padding: 20px 0;
    margin-left: calc(50% - 35px);
  }

  .WeddingDetails__itemTitle {
    font-size: 30px;
  }

  .WeddingDetails__venue,
  .WeddingDetails__address {
    font-size: 1.5em;
    line-height: 2;
  }

  .WeddingDetails__eventDescription {
    text-align: left;
    max-width: 820px;
    font-size: 1.4em;
    margin: 0 auto;
  }
}
