.button {
  cursor: pointer;
  padding: 0.46em 1.23em;
  outline: 0;
  font-family: Georgia, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  color: #000;
  border-color: #4C4636;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: #FFFDEB;
  text-transform: uppercase;
}
