.button {
  cursor: pointer;
  padding: 0.46em 1.23em;
  outline: 0;
  font-family: Georgia, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: white;
  border-color: #BFB8A6;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: #E5CB82;
  font-size: 1.3em;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    background-color: #D9BB6D;
  }

  &:disabled {
    background-color: #DBD1B4;
    cursor: not-allowed;
  }
}

.button__link {
  &:focus-visible {
    outline-offset: 0;
    outline-color: bisque;
    background-color: #D9BB6D;
  }
}
