// Hide real radios
input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
  cursor: pointer;
  border: 1px #BFB8A6 solid;
  padding: 10px 10px 3px 10px;
  border-radius: 4px;
  text-align: center;

  span {
    position: relative;
    bottom: 5px;
  }

  &:hover,
  label:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 768px) {
    min-width: 80%;
  }

  @media only screen and (max-width: 768px) {
    width: 165px;
  }

  background: #F8F8F7;
  color: #43467A;
}

.checkbox__active {
  color: white;
  background: #E5CB82;

  &:hover {
    background-color: #D9BB6D;
  }
}

.check {
  height: 17px;
  border-radius: 10px;
  border-width: 2px;
  border: 2px #F7F7F7 solid;
}

.check__checked {
  border: 2px #F7F7F7 solid;
}

.check__unchecked {
  display: none;
  color: #F8F8F7;
  border-color: #F8F8F7;
  background: #F8F8F7;
}
