// Hide real inputs
@import "../styles/colors.module.scss";
input[type="radio"],
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.check__checked {
  border: none;
}

.check__unchecked {
  color: #F8F8F7;
  border-color: #F8F8F7;
  background: #F8F8F7;
}

.option {
  font-size: 1.1em;
  padding-left: 5px;
}

.select__checkbox {
  cursor: pointer;
  border: 1px #BFB8A6 solid;
  padding: 10px 10px 3px 10px;
  border-radius: 4px;
  text-align: center;

  span {
    position: relative;
    bottom: 5px;
  }

  &:hover,
  label:hover {
    cursor: pointer;
  }

  background-color: #f3efd7;
  &:hover {
    background-color: #EEE5C5;
  }
}

.select__checkbox__active {
  color: white;
  background: #E5CB82;

  &:hover {
    background-color: #D9BB6D;
  }
}

.select__check {
  height: 17px;
}

.select__check__unchecked {
  display: none;
}

.selectionRow {
  padding: 0 10px;
}
