@import "../../shared/styles/colors.module.scss";

.NavItem {
  font-size: 16px;
  letter-spacing: 2.4px;
  padding: 8px 12px;
  text-transform: uppercase;

  .NavItem__Link {
    color: $primary_color;
    text-decoration: none;
  }

  .NavItem__Link--selected {
    color: $accent_color;
  }
}
